In [21]:
import pandas as pd
import numpy as np
import os as os

In [22]:
hourly_cnt = pd.read_csv('./hour.csv')

In [23]:
hourly_cnt.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [24]:
## The column names are not great, let me rename for convenience
hourly_cnt.rename(columns={'instant':'rec_id',
                        'dteday':'datetime',
                        'holiday':'is_holiday',
                        'workingday':'is_workingday',
                        'weathersit':'weather_condition',
                        'hum':'humidity',
                        'mnth':'month',
                        'cnt':'total_count',
                        'hr':'hour',
                        'yr':'year'},inplace=True)

In [25]:
## Datatype check, datatypes are all over the place, correcting the datatypes is vital
hourly_cnt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rec_id             17379 non-null  int64
 1   datetime           17379 non-null  object
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [26]:
hourly_cnt['season'] = hourly_cnt.season.astype('category')
hourly_cnt['is_holiday'] = hourly_cnt.is_holiday.astype('category')
hourly_cnt['weekday'] = hourly_cnt.weekday.astype('category')
hourly_cnt['weather_condition'] = hourly_cnt.weather_condition.astype('category')
hourly_cnt['is_workingday'] = hourly_cnt.is_workingday.astype('category')
hourly_cnt['month'] = hourly_cnt.month.astype('category')
hourly_cnt['year'] = hourly_cnt.year.astype('category')
hourly_cnt['hour'] = hourly_cnt.hour.astype('category')
hourly_cnt['datetime'] = pd.to_datetime(hourly_cnt.datetime)

In [27]:
hourly_cnt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rec_id             17379 non-null  int64
 1   datetime           17379 non-null  datetime64[ns]
 2   season             17379 non-null  category
 3   year               17379 non-null  category
 4   month              17379 non-null  category
 5   hour               17379 non-null  category
 6   is_holiday         17379 non-null  category
 7   weekday            17379 non-null  category
 8   is_workingday      17379 non-null  category
 9   weather_condition  17379 non-null  category
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: category(8), datetime64[ns](1), float64(4), int64(4)
memory usage: 1.3 MB

In [28]:
###Check for missing values
hourly_cnt.isnull().sum()

rec_id               0
datetime             0
season               0
year                 0
month                0
hour                 0
is_holiday           0
weekday              0
is_workingday        0
weather_condition    0
temp                 0
atemp                0
humidity             0
windspeed            0
casual               0
registered           0
total_count          0
dtype: int64

In [29]:
##Create the dataframe pickle for future coding!

hourly_cnt.to_pickle('./hourly_cnt.pkl')